In [44]:
import mlxtend
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [45]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

# Sample dataset
dataset = [['milk', 'bread', 'eggs'],
           ['bread', 'eggs'],
           ['milk', 'bread'],
           ['milk', 'eggs'],
           ['milk', 'bread', 'eggs', 'jam']]

te = TransactionEncoder()
te_ary = te.fit_transform(dataset)  # Apply one-hot-encoding on our dataset
df = pd.DataFrame(te_ary, columns = te.columns_)  # Creating a new DataFrame from our Numpy array
df

   bread   eggs    jam   milk
0   True   True  False   True
1   True   True  False  False
2   True  False  False   True
3  False   True  False   True
4   True   True   True   True

In [35]:
from mlxtend.frequent_patterns import apriori
df1 = apriori(df, min_support = 0.6)
df1

   support itemsets
0      0.8      (0)
1      0.8      (1)
2      0.8      (3)
3      0.6   (0, 1)
4      0.6   (0, 3)
5      0.6   (1, 3)

In [46]:
frequent_itemsets = apriori(df, min_support = 0.6, use_colnames = True) #Instead of column indices we can use column names.
frequent_itemsets

   support       itemsets
0      0.8        (bread)
1      0.8         (eggs)
2      0.8         (milk)
3      0.6  (bread, eggs)
4      0.6  (milk, bread)
5      0.6   (milk, eggs)

In [37]:
frequent_itemsets['length'] = df1['itemsets'].apply(lambda x : len(x))
frequent_itemsets

   support       itemsets  length
0      0.8        (bread)       1
1      0.8         (eggs)       1
2      0.8         (milk)       1
3      0.6  (bread, eggs)       2
4      0.6  (milk, bread)       2
5      0.6   (milk, eggs)       2

In [53]:
from mlxtend.frequent_patterns import association_rules 
rules_confidence = association_rules(frequent_itemsets, metric = 'confidence', min_threshold = 0.7) # associate items
rules_confidence

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(bread),(eggs),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
1,(eggs),(bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
2,(milk),(bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
3,(bread),(milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
4,(milk),(eggs),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
5,(eggs),(milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25

In [52]:
rules_lift = association_rules(frequent_itemsets, metric = "lift", min_threshold = 0.75)
rules_lift

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(bread),(eggs),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
1,(eggs),(bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
2,(milk),(bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
3,(bread),(milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
4,(milk),(eggs),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25
5,(eggs),(milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8,-0.25

* ***Frequent Item Sets***: These represent item combinations that occur frequently together in transactions.
* ***Association Rules***: These are the discovered relationships between items, including metrics like support, confidence, and lift.

In [54]:
market = pd.read_csv('Market_Basket_Optimisation.csv')
market.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# Reshape the data to have all products in a single column

market_transactions = []
for index, row in market.iterrows():
    transaction = [str(item) for item in row if pd.notna(item)]
    market_transactions.append(transaction)

# Convert the transactions to a DataFrame with a single column
transaction_df = pd.DataFrame({'products': transactions})

c:\Users\Windows\anaconda3\Lib\site-packages\pandas\core\dtypes\cast.py:1846: DeprecationWarning: np.find_common_type is deprecated.  Please use `np.result_type` or `np.promote_types`.
See https://numpy.org/devdocs/release/1.25.0-notes.html and the docs for more information.  (Deprecated NumPy 1.25)
  return np.find_common_type(types, [])  # type: ignore[arg-type]

In [56]:
transaction_df.head()

                                            products
0                         [burgers, meatballs, eggs]
1                                          [chutney]
2                                  [turkey, avocado]
3  [mineral water, milk, energy bar, whole wheat ...
4                                   [low fat yogurt]

In [57]:
from mlxtend.preprocessing import TransactionEncoder

# Transform the data for Apriori algorithm using one-hot encoding
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)  #Apply one-hot-encoding on our dataset
one_hot_df = pd.DataFrame(te_ary, columns = te.columns_)  #Creating a new DataFrame from our Numpy array
one_hot_df

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [58]:
# Applying Apriori algorithm
from mlxtend.frequent_patterns import apriori, association_rules

frequent_itemsets = apriori(one_hot_df, min_support = 0.01, use_colnames = True)
frequent_itemsets

      support                                 itemsets
0    0.020267                                (almonds)
1    0.033200                                (avocado)
2    0.010800                         (barbecue sauce)
3    0.014267                              (black tea)
4    0.011467                             (body spray)
..        ...                                      ...
254  0.011067       (milk, mineral water, ground beef)
255  0.017067  (spaghetti, mineral water, ground beef)
256  0.015733         (milk, spaghetti, mineral water)
257  0.010267    (olive oil, spaghetti, mineral water)
258  0.011467     (spaghetti, mineral water, pancakes)

[259 rows x 2 columns]

In [60]:
frequent_itemsets.sort_values(by = ['support'], ascending = False)

      support                                  itemsets
46   0.238267                           (mineral water)
19   0.179733                                    (eggs)
63   0.174133                               (spaghetti)
24   0.170933                            (french fries)
13   0.163867                               (chocolate)
..        ...                                       ...
251  0.010133  (french fries, spaghetti, mineral water)
177  0.010133       (low fat yogurt, frozen vegetables)
123  0.010133                         (chocolate, soup)
164  0.010000                    (french fries, shrimp)
170  0.010000      (frozen smoothie, frozen vegetables)

[259 rows x 2 columns]

In [63]:
# Generate association rules

rules_confidence = association_rules(frequent_itemsets, metric = 'confidence', min_threshold = 0.5)
rules_confidence

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,"(ground beef, eggs)",(mineral water),0.020,0.238267,0.010133,0.506667,2.126469,0.005368,1.544054,0.540548
1,"(milk, ground beef)",(mineral water),0.022,0.238267,0.011067,0.503030,2.111207,0.005825,1.532756,0.538177

In [64]:
# Generate association rules

rules_lift = association_rules(frequent_itemsets, metric = 'lift', min_threshold = 1.0)
rules_lift

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(mineral water),(avocado),0.238267,0.033200,0.011467,0.048125,1.449559,0.003556,1.015680,0.407144
1,(avocado),(mineral water),0.033200,0.238267,0.011467,0.345382,1.449559,0.003556,1.163629,0.320785
2,(cake),(burgers),0.081067,0.087200,0.011467,0.141447,1.622103,0.004398,1.063185,0.417349
3,(burgers),(cake),0.087200,0.081067,0.011467,0.131498,1.622103,0.004398,1.058068,0.420154
4,(chocolate),(burgers),0.163867,0.087200,0.017067,0.104150,1.194377,0.002777,1.018920,0.194639
...,...,...,...,...,...,...,...,...,...,...
403,"(spaghetti, pancakes)",(mineral water),0.025200,0.238267,0.011467,0.455026,1.909736,0.005462,1.397744,0.488682
404,"(mineral water, pancakes)",(spaghetti),0.033733,0.174133,0.011467,0.339921,1.952073,0.005593,1.251163,0.504751
405,(spaghetti),"(mineral water, pancakes)",0.174133,0.033733,0.011467,0.065850,1.952073,0.005593,1.034381,0.590560
406,(mineral water),"(spaghetti, pancakes)",0.238267,0.025200,0.011467,0.048125,1.909736,0.005462,1.024084,0.625373
407,(pancakes),"(spaghetti, mineral water)",0.095067,0.059733,0.011467,0.120617,2.019260,0.005788,1.069235,0.557797

In [65]:
rules_lift.sort_values(by = 'confidence', ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
346,"(ground beef, eggs)",(mineral water),0.020000,0.238267,0.010133,0.506667,2.126469,0.005368,1.544054,0.540548
379,"(milk, ground beef)",(mineral water),0.022000,0.238267,0.011067,0.503030,2.111207,0.005825,1.532756,0.538177
321,"(chocolate, ground beef)",(mineral water),0.023067,0.238267,0.010933,0.473988,1.989319,0.005437,1.448130,0.509058
367,"(milk, frozen vegetables)",(mineral water),0.023600,0.238267,0.011067,0.468927,1.968075,0.005444,1.434328,0.503778
275,(soup),(mineral water),0.050533,0.238267,0.023067,0.456464,1.915771,0.011026,1.401441,0.503458
...,...,...,...,...,...,...,...,...,...,...
269,(mineral water),(red wine),0.238267,0.028133,0.010933,0.045887,1.631053,0.004230,1.018607,0.507919
401,(mineral water),"(olive oil, spaghetti)",0.238267,0.022933,0.010267,0.043089,1.878880,0.004802,1.021063,0.614084
44,(mineral water),(cereals),0.238267,0.025733,0.010267,0.043089,1.674442,0.004135,1.018137,0.528776
347,(mineral water),"(ground beef, eggs)",0.238267,0.020000,0.010133,0.042529,2.126469,0.005368,1.023530,0.695436
365,(mineral water),"(french fries, spaghetti)",0.238267,0.027600,0.010133,0.042529,1.540920,0.003557,1.015593,0.460840

The good question: How do I know the exact value of minimum support, and the minimum thresholds for lift and confidence.

Answer: Determining the values for minimum support, minimum threshold (for lift), and minimum threshold (for confidence) involves a balance between finding meaningful patterns without generating too many or too few rules. Here's how you might approach setting these parameters:

### Minimum Support: 

* **Support** measures the frequency of an item set in the entire dataset.
* Setting `min_spport` too low might result in too many frequent item sets, making it harder to extract meaningful patters.
* Setting it too high might miss potentially interesting and useful item sets.
* A commom approach is to start with a low support threshold like 1% or 5% and then adjust it based on the specific context or desired patterns.


### Minimum Confidence:

* **Confidence** measures the likelihood that a rule is true given the presence of another item set.
* Setting `min_confidence` too low might result in too many rules, including many that are not very useful or meaningful.
* Setting it too high might lead to missing potentially interesting associations.
* A commonly used threshold for confidence is around 50% or higher, but this can vary based on the application and the context.


### Minimum Lift:

* **Lift** measures how much more likely one item set is to occur given the occurrence of another item set, compared to if their occurrences were independent.
* Setting `min_lift` too low might result in including associations that are not particularly significant.
* Setting it too high might filter out potentially useful associations.
* There isn’t a universal threshold for lift, but values greater than 1 typically indicate a meaningful association (indicating the items are correlated).



### Approach:

* **Start Conservatively**: Begin with a higher `min_support` and `min_confidence` and gradually decrease them if you're not finding enough associations or patterns.
* **Domain Knowledge**: Utilize your domain expertise or context-specific knowledge to identify potentially interesting item sets or associations.
* **Iterative Process**: Adjust the parameters iteratively based on the patterns discovered and the insights needed.
* **Balance**: Find a balance between generating too many rules (which might include noise) and missing important associations.